<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Veterinario</title>

    <!-- Hojas de estilos moduladas -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bento_layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tarjeta_calendario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tarjeta_estado_bot.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tarjeta_chats_rt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tarjeta_estadisticas.css') }}">
</head>
<body>
    <div class="bento-contenedor">
        {% include 'components/tarjeta_calendario.html' %}
        {% include 'components/tarjeta_estado_bot.html' %}
        {% include 'components/tarjeta_chats_rt.html' %}
        {% include 'components/tarjeta_estadisticas.html' %}
    </div>
</body>
</html>